<!DOCTYPE html>
<html>
<head><title>Linear</title>
<link rel="stylesheet" type="text/css" href="{{ url_for("static",filename="style.css")}}">
</head>
<body>
  <h1>LINEAR EQUATIONS</h1>
  <img src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Linear_Function_Graph.svg" height = "700" width = "700"">
<p1>
<div>A linear equation is an equation in which the highest power of the variable is always 1. It is also known as a one-degree equation. The standard form of a linear equation in one variable is of the form Ax + B = y. Here, x is a variable, A is a coefficient and B is constant. In the example (y = -x + 5) above -1 is the coefficient, 5 is the constant and x is the variable. In the example 2 (y = 1/2x + 2) above 1/2 is the coefficient, 2 is the constant and x is the variable.</div>
</p1>

<div><a href="https://en.wikipedia.org/wiki/Linear_equation">Learn More</a></div>
  














</body>





</html>