<!DOCTYPE html>
<html>
<head><title>Quadratic</title>
<link rel="stylesheet" type="text/css" href="{{ url_for("static",filename="style.css")}}">
</head>
<body>
  <h1>QUADRATIC EQUATIONS</h1>
  <img src="https://d20khd7ddkh5ls.cloudfront.net/x_intercepts_2.jpg" height = "700" width = "700"">
<p1>
<div>A quadratic equation is a second-degree polynomial equation of a single variable, typically in the form of:

ax^2 + bx + c = 0

where "a," "b," and "c" are coefficients that determine the shape and position of the equation's graph, and "x" is the variable.

The highest power of the variable "x" in a quadratic equation is two, which gives the equation its name.

Quadratic equations can have two, one, or zero real solutions depending on the values of the coefficients. The solutions of a quadratic equation can be found using the quadratic formula or by factoring the equation.

Quadratic equations are commonly used in physics, engineering, economics, and many other fields to model a wide range of phenomena.</div>
</p1>

<div><a href="https://en.wikipedia.org/wiki/Quadratic_equation">Learn More</a></div>
  














</body>





</html>